html {
  margin: 0;
  padding: 0;
}

@media all and (min-width: 720px) {
body {
  font: normal 100%/1.6 'Fira Sans Condensed',sans-serif;
  font-size: 16px;
  color: #4d4d4d;
  background-color: #F5F5F5;
}
}

@media all and (max-width: 719px) and (min-width: 400px) {
body {
  font: normal 100%/1.6 'Fira Sans Condensed',sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  background-color: #F5F5F5;
}
}

@media all and (max-width: 399px) and (min-width: 320px) {
body {
  font: normal 100%/1.6 'Fira Sans Condensed',sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  background-color: #F5F5F5;
}
}

@media all and (min-width: 450px) {
h1 {
  text-align: left;
  font-family: 'Expletus Sans',monospace;
  font-weight: bold;
  font-size: 2em;
  color: #23525F;
  padding-left: 2%;
  display: inline;
}
}

@media all and (max-width: 440px) and (min-width: 320px) {
h1 {
  text-align: left;
  font-family: 'Expletus Sans',monospace;
  font-weight: bold;
  font-size: 1em;
  color: #23525F;
  padding-left: 2%;
  display: inline;
}
}

h2 {
  font-family: 'Patua One',sans-serif;
  font-size: 3em;
  color: #112D2D;
}

h3 {
  font-family: 'Patua One',sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #464C54;
}

h4 {
  font: 'Overpass Mono',monospace;
  font-size: 1.5em;
  /* text-transform: uppercase; */
  color: #4d4d4d;
  font-weight: 700;
}

h5 {
  font: 'Overpass Mono',monospace;
  font-size: 1.4em;
  color: #4d4d4d;
}

p{
	font-size: 1.2em;
	line-height: 1.618em;
  text-align: justify;
  font-weight: 400;
}

a:link {
  color: #AC082E;
  text-decoration: none
}
a:visited {
  color: #AC082E;
  text-decoration: none;
}
a:hover {
  color: #AC082E;
  text-decoration: none;
}

ul {
 list-style-type: disc;
 margin-left: 2em;
 padding-left: 1em;
 text-indent: 0em;
 font-size: 1.1em;
 font-weight: 300;
}

/*
li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px
}

ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  font-size: .8em;
  content: "\f1db";
  color: #AC082E;
}
*/

ol {
  list-style: decimal;
  margin-left: 2em;
  padding-left: 1em;
  text-indent: 03m;
  font-size: 1.1em;
  font-weight: 300;
}

blockquote {
  background: #f9f9f9;
  border-left: 2px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

.container {
  width:40em;
  margin:0 auto;
}

.current {
  color: #34B99D;
  text-decoration: none;
}


/*
.nav {
  margin: 0;
  padding-left: 40px;
  list-style-type: none;
}

.nav > li {
  margin-top: -25px;
}

.nav-top {
  color: #DCDCDC;
  font-size: 1.5em;
}

.nav-btm {
  font-size: 1rem;
}

#navbar {
  float:left;
  width: auto;
}

#navbar a:link {
  color: #23525F !important;
}
#navbar a:visited {
  color: #23525F !important;
}
#navbar a:hover {
  color: #23525F !important;
}
*/

#wrap {
  width:100%;
  margin:0 auto;
}

#main {
  width: 800px;
  max-width: 95%;
  margin: 0 auto;
  text-align: left;
}

#footer {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 120px;
  background: #1E2224;
  font-size: 1.5em;
  color: #F5F5F5;
  text-align: right;
}

#header {
  font-size: 2em;
}
#header ul {
  a:link {
    color: #F5F5F5;
    text-decoration: none
  }
  a:visited {
    color: #F5F5F5;
    text-decoration: none;
  }
  a:hover {
    color: #F5F5F5;
    text-decoration: none;
  }
}
#header ul li {

  display: block;
  padding-left: 0px;
}
