html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open+Sans+Condensed:bold', sans-serif;
  color: #DCDCDC;
  background-color: #343434
}

a:link {
  color: white;
  text-decoration: none
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #DC143C;
  text-decoration: none;
}

h1 {
  font-family: 'Nova+Mono', monospace;
  font-weight: bold;
  font-size: 4rem;
}

h2 {
  font-family: 'Nova+Mono', monospace;
  font-size: 2.5rem;
  color: #34B99D
}

h3 {
  font-family: 'Open+Sans+Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  width:40em;
  margin: auto;
}

.current {
  color: #34B99D;
  text-decoration: none;
}

.nav {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav > li {
  display: block;
}

.nav-top {
  color: #DCDCDC;
  font-size: 1.5rem;
}

.nav-btm {
  font-size: 1rem;
}
