html {
  margin: 0;
  padding: 0;
}

body {
  font: normal 100%/1.4 'Overpass Mono',sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #2C3642
}

h1 {
  font-family: 'Expletus Sans',monospace;
  font-weight: bold;
  font-size: 4rem;
  color: #B22222;
  padding-left: 10px;
}

h2 {
  font-family: 'Patua One',monospace;
  font-size: 3rem;
  color: #FF9700;
}

h3 {
  font-family: 'Patua One',sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #FF9700;
}

a:link {
  color: #00AB6F;
  text-decoration: none
}
a:visited {
  color: #00AB6F;
  text-decoration: none;
}
a:hover {
    color: #60D5AC;
  text-decoration: none;
}

.container {
  width:40em;
  margin:0 auto;
}

.current {
  color: #34B99D;
  text-decoration: none;
}

.nav {
  margin: 0;
  padding-left: 40px;
  list-style-type: none;
}

.nav > li {
  margin-top: -25px;
/*  display: block; */
}

.nav-top {
  color: #DCDCDC;
  font-size: 1.5rem;
}

.nav-btm {
  font-size: 1rem;
}

#wrap {
  width:100%;
  margin:0 auto;
}

#sidebar {
  float:left;
  width: 25%;
}

#main {
  width:40%;
  margin: 0 auto;
  text-align:left;
}
