<table width=100%>
  <tr>
    <td><a href="/blog"><h1>bryophyticOS</h1></a></td>
    <td align="right">
      <ul class="blank";>
        <li><a href="https://www.github.com/paulrbts"><i class='fa fa-github-square'; list-style-type: none;></i></a>
        </li>
        <li><a href="mailto:bryophytic@icloud.com"><i class='fa fa-paper-plane'></i></a>
        </li>
      </ul>
    </td>
  </tr>
</table>
<!-- If you're using Internet Explorer or Edge, <a target="_blank" href="https://www.freebsd.org/where.html">click here</a> or <a target="_blank" href="https://www.trueos.org/">here</a>.

<table cellpadding="5">
  <tr>
    <td rowspan="2"><a href="/blog"><h1>bryophyticOS</h1></a></td>
    <td><a href="https://www.github.com/paulrbts"><i class='fa fa-github-square'></i></a></td>
  </tr>
  <tr>
    <td><a href="mailto:bryophytic@icloud.com"></i><i class='fa fa-envelope-square'></a></td>
  </tr>
</table>

-->
