<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>bryophyticOS</title>
    <meta name="Author" content="Paul Roberts">
    <meta name="Description" content="a simple blog on OS hacks and coding tips">
    <meta name="Keywords" content="macos, mac, os x, freebsd, bsd, unix, hacks, tips">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ site.baseurl }}/css/common.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/syntaxDark.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Expletus+Sans:bold|Patua+One|Overpass+Mono|Fira+Sans+Condensed:300|Anonymous+Pro" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <div id="header">
      {% include header.html %}
    </div>

    <div id="main" class="container">
      {{ content }}
    </div>

    <div id="footer">
      {% include footer.html %}
    </div>

  </body>
</html>
