<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Didactic Enchainment - a simple blog on OS hacks</title>
    <link href="{{ site.baseurl }}/css/common.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Expletus+Sans:bold|Share|Patua+One|PT+Sans" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
  </head>
  <body>

    <div id="wrap"></div>

    <div id="header">
      <a href="/blog"><h1>didactic enchainment</h1></a>
    </div>

    <div id="sidebar">
      {% include nav.html navclass='nav-top' %}
    </div>

    <div id="main" class="container">

    {{ content }}

    </div>

  <footer>
<!--    {% include nav.html navclass='nav-btm' %} -->
<!--    <p>didactic enchainment</p> -->
  </footer>

  </body>
</html>
